.vh-100 {
    background: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh !important;
    /* margin-bottom: -1rem; */
  }

  .form-outline {
    border-bottom: 2px solid #353568;
  }